<!DOCTYPE html>
<html>
<head>
<meta charset=utf8>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<meta name=viewport content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<title>Film AWord</title>
</head>
<body>
<div id="app" :key="page">

  <div id="roulette" v-if="roulette.visible">
    <div class="blocks" style="padding-bottom:13vh;max-width:700px" :key="roulette.movies[0].id">
      <h1 style="margin-bottom:10px">
        {{roulette.counter > 0 ? "Sind die Filme gleich?" : "Noch eine Runde?" }}
      </h1>

      <div style='margin-bottom:20px;text-align:center;font-size:1.3em'>
        
        <div style="display:flex;justify-content:center;align-items: center;" v-if="roulette.counter > 0">Du spielst um <img src="/img/point.png" style="margin:0 5px" height="20">{{roulette.counter}}, beeil Dich!</div>
      </div>

      <div id="roulette_spinners" v-if="roulette.same">
          <div :class="'roulette_spinner roulette_spinner'+(key+1)" :v-key="key" v-for="(thumbnail, key) in [1,2,3]">
              <div :style="'background-image:url(\'cache/m'+roulette.movies[0].id+'-t'+thumbnail+'-300.jpg\')'"></div>
          </div>
      </div>
      <div id="roulette_spinners" v-else>
          <div :class="'roulette_spinner roulette_spinner'+(key+1)" :v-key="key" v-for="(movie, key) in roulette.movies">
              <div :style="'background-image:url(\'cache/m'+movie.id+'-t1-300.jpg\')'"></div>
          </div>
      </div>

      <br>
      <div style="margin:auto;width:auto">
        <div v-if="roulette.counter <= 0">
          <button @click="set_roulette_movies()" v-if="this.user.points>=20"><i class="fa fa-play"></i> Nochmal </button>
          <button @click="roulette.visible=false"><i class="fa fa-times"></i> Schliessen </button>
        </div>
        <div v-else>
          <div class="btns">
            <button @click="if(roulette.same)points(-1*roulette.counter);else points(roulette.counter);roulette.counter=0" class="full"><i class="fa fa-times"></i> </button>
            <button @click="if(!roulette.same)points(-1*roulette.counter);else points(roulette.counter);roulette.counter=0" class="full"><i class="fa fa-check"></i> </button>
        </div>
        </div>
        </div>
    </div>
  </div>

  <div id="search" v-if="search.visible">
    <div class="blocks game" style="padding-top:89px;width:100%">
          <div style="margin-top:5vh;font-size:1.2em;opacity:.6;text-align: center;padding:20px" v-if="movies_search_filtered.length==0">
              <p v-if="search.query.length>0">Zu deiner Eingabe wurden keine Aufgaben gefunden.</p>
              <p v-else-if="user.is_admin">Hier kannst Du alle Aufgaben durchsuchen.</p>
              <p v-else>Hier kannst Du alle bereits gelösten Aufgaben durchsuchen.</p>
          </div>
          <a @click="nav(page);show_movie_id(id)" :key="'search'+key"
            :class="{category:true,disabled:!category_enabled(category_id)}"
             v-for="({difficulty,caches,id,solved,title,thumbnail1,category_id},key) in movies_search_filtered">
              <img v-if="caches.includes('300')" :src="'/cache/m'+id+'-t1-300.jpg'">
              <img v-else :src="'/img.php?type=m&t=1&id='+id+'&size=300'">
              <div style="flex:1">
                {{solved == '1' || user.is_admin == '1' ? title : title_mystify(title)}} 
                  <div v-if="!category_enabled(category_id)" style="display:flex;">
                    <i class="fa fa-lock" style="display:inline-block;margin-right:3px"></i> 
                    Gesperrt <div style="opacity:1;display:flex;margin-top:0;align-items: center;"> <img src='/img/point.png' style='width:auto;height:20px;margin:0 3px;margin-left:5px'>
                    <span id=points>{{category_by_id(category_id).points}}</span>
                    </div>
                  </div>
                  <div v-else> {{categories.filter(cat => cat.id == category_id)[0].title}} </div>
              </div>
              <div :style="'border-radius:50%;background:hsl('+(100-20*difficulty)+',100%,50%);margin:15px 20px;padding:10px;'"></div>
        </a>
    </div>
  </div>

  <div id="alert" v-if="alert_message.length>0">
    <div class="blocks" style="padding-bottom:13vh">
      <div style="padding:30px;text-align:center;margin:2vw;max-width:800px;font-size:1.5rem">{{alert_message}}</div>
      <button @click="alert('');alert_callafter()" style="margin:auto;padding-left:30px;padding-right:30px;width:auto">Okay</button>
    </div>
  </div>

  <div id="report" v-if="report">
    <div class="blocks" style="width:300px;padding-bottom:13vh">
      <h1>{{page == 'play' ? "Fehler bei dieser Aufgabe melden" : "Nachricht an Entwickler senden"}}</h1>
      <div v-if="report_message!=''" style="margin:auto;width:200px;line-height:1.3em;margin-bottom:20px;text-align:center;">
        <div v-if="report_message=='loading'"><i class="fa fa-spin fa-circle-notch"></i></div>
        <div v-else> {{report_message}} </div>
      </div>
      <div v-else>
        <input class="input report-input" style="margin-bottom:10px" placeholder="Worum geht es? " v-model="reported_text"> 
        <button @click="report_btn()" v-if="page == 'play'"><i class="fa fa-flag"></i> Aufgabe melden </button>
        <button @click="report_btn()" v-if="page != 'play'"><i class="fa fa-bug"></i> Allgemeines Problem </button>
        <button @click="report_btn()" v-if="page != 'play'"><i class="fa fa-lightbulb"></i> Vorschlag / Idee </button>
        <button @click="report_btn()" v-if="page != 'play'"><i class="fa fa-play"></i> Neuer Level Wunsch </button>
        <a v-if="false" href="https://www.instagram.com/dommezi/" target="_blank"><button><i class="fa fa-bell"></i> Entwickler kontaktieren</button></a>
      </div>
      <br>
      <button @click="reported_text='';report=false" style="margin:auto;padding-left:30px;padding-right:30px;width:auto"><i class="fa fa-times"></i> {{report_message==''?"Abbrechen":"Schliessen"}} </button>
    </div>
  </div>

  <div id="loading" v-if="loading"><i class="fa fa-circle-notch fa-spin"></i></div>
  <div v-else-if="user == null" id="login" style="min-height:100vh;width:100vw;display:flex;justify-content:space-between;flex-direction: column;">
    <div style="display:flex;justify-content: center;flex:1;flex-direction: column;">
      <div id="login-bg"></div>
      <div id="logo"></div>
      <h1><img src="/img/wortmarke_transparent.png" height=50 alt="Film AWord"></h1>

      <form @submit.prevent="login()">
        <div class="alert alert-success"> <b>Spiel als App benutzen?</b> Klicke auf "zum Bildschirm hinzufügen", um die App ohne Browserfenster zu verwenden. (Magische Webapp)</div>
        <input required minlength="3" maxlength="12" placeholder="Benutzer" v-model="auth.form.name">
        <input required minlength="3" maxlength="64" placeholder="Passwort" type="password" v-model="auth.form.pass">
        <button class="full">Erstellen oder Login</button>
      </form>
    </div>
    <div style="padding:20px;text-align:center;margin:40px 10px;color:#fff3;text-align:center"> &copy; 2020 JFC-Netzwerk.
      Version 1.30. 
      <a style="color:#fff3" href="https://ziegenhagel.com/impressum">Impressum</a>.  <a style="color:#fff3" href="https://ziegenhagel.com/datenschutz">Datenschutz</a>.
    
    </div>

  </div>
  <div v-else id="game">

    <div id="actions" v-if="search.visible">
      <div class="d-flex" style="width:100%">
        <input class="input report-input" :key="search.focus" ref="search" autofocus
          style="flex:1;border-radius:25px 0 0 25px;height:50px;margin-top:0;width:100%" placeholder="Suchbegriff eingeben..." v-model="search.query">  
        <button @click="search.visible=!search.visible;" 
          style="height:50px;border-radius: 0 25px 25px 0;"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div id="actions" v-else>
        <div v-if="page=='play'">
          <button @click="nav(page);list_category(categoryIndex);" ><i class="fa fa-chevron-left"></i></button>
          <button @click="nav(page);report=!report;report_message='';" :class="{hover: report && !roulette.visible}" ><i class="fa fa-bug"></i></button>
        </div>
        <div v-else >
          <button @click="refresh_data();nav('categories')" :class="{hover: page=='categories' && !roulette.visible,disabled:page=='home'}"><i class="fa fa-home"></i></button>
        <button @click="refresh_data();nav('scores')" :class="{hover: page=='scores' && !roulette.visible}"><i class="fa fa-signal"></i></button>
        </div>

        <div>
          <button @click="setup_search()"><i class="fa fa-search"></i></button>
          <button @click="nav('settings')" :class="{hover: page=='settings' && !roulette.visible}"><i :class="'fa fa-'+(user.is_admin == '1' ? 'user-shield' : 'cog')"></i></button>
          <button @click="if(user.points>=20){nav(page);play_roulette();}" :class="{points:true,hover:roulette.visible || this.points_offset != 0}">
            <div id="point_icon" :key="points_offset == 0" :style="points_offset > 0 ? 'animation:.5s point_icon_up ease-in-out': this.points_offset < 0 ?'animation:.5s point_icon_down ease-in-out' : ''"></div>
            <span id=points :style="'colorx:'+ ( this.points_offset > 0 ? '#0d0' : this.points_offset < 0 ? '#d00' : '#fff' ) ">{{user.points}}</span>
          </button>
        </div>
    </div>



    <div v-if="page=='categories'">
      <h1>Levels</h1>

      <a class="score" v-if="parseInt(user.points) < 30" @click="play_roulette()">
          <div class="img"><i class="fa fa-play"></i></div>
          <div>
            <b>Münzen verdienen!</b>
            <div>Sind die Filme gleich?</div>
          </div>
      </a>


      <a class="score" v-if="user.last_activity.substr(0,10) != new Date().toISOString().substr(0, 10)" @click="play_category(1);is_movie_of_the_day=true">
          <div class="img"><i class="fa fa-certificate"></i></div>
          <div>
            <b> SERIES OF THE DAY </b>
            <div>Deine tägliche Chance!</div>
          </div>
      </a>

	      <a :class="{category:true, disabled: !category_enabled(cat.id) && !category_enableable(cat.id)}"
		 v-for="(cat,key) in categories_visible" @click="if(category_enabled(cat.id)) list_category(key); else category_enable(cat.id)" :key="'cat'+key"> 
 
        <img v-if="cat.caches.includes('300')" :src="'/cache/c'+cat.id+'-300.jpg'">
        <img v-else :src="'/img.php?type=c&size=300&id='+cat.id">

        <div>{{cat.title}}
          <div v-if="category_enabled(cat.id)">
            {{all_movies.filter(m=>m.category_id==cat.id && m.solved != "0").length}} /
            {{all_movies.filter(m=>m.category_id==cat.id).length}}
          </div>
          <div v-else style="display:flex;" >
            <i class="fa fa-lock" style="display:inline-block;margin-right:3px"></i> 
            Freischalten ab <div style="opacity:1;display:flex;margin-top:0;align-items: center;"> <img src='/img/point.png' style='width:auto;height:20px;margin:0 3px;margin-left:5px'>
            <span id=points>{{cat.points}}</span>
          </div>
          </div>
        </div>
      </a>


      <a class="score active hover" @click="alert('Du hast eine Idee für ein neues Level oder andere gute Ideen? Klicke rechts oben auf Einstellungen und schreibe eine Person bei den Credits auf Instagram an.')" v-if="user.points > 250" >
          <div class="img"><i class="fa fa-heart"></i></div>
          <div>
            <b>Wir brauchen Dich!</b>
            <div>Werde Teil des Teams</div>
          </div>
      </a>


    </div>
    <div v-else-if="page=='settings'">
      <h1>Mini-Spiele</h1>
      <button @click="play_roulette()" class="full"><i class="fa fa-play"></i> Stimmen die Filme?</button>
      <h1>Einstellungen</h1>
      <button @click="user_letterboxd()" v-if="user.letterboxd == '' && false" class="full hover"><i class="fa fa-share-alt"></i> Letterboxd verbinden</button>
      <button @click="nav(page);report=!report;report_message='';" class="full" ><i class="fa fa-bug"></i> Fehler melden</button>
      <button @click="page='history'" class="full"><i class="fa fa-history"></i> Gelöste Aufgaben</button>
      <button @click="api({action:'reset_rounds'})" class="full" v-if="user.is_admin == '1'"><i class="fa fa-trash"></i> Reset rounds</button>
      <a :href="'index.html?random='+Math.random()"> <button class="full"><i class="fa fa-cube"></i> Aktualisieren</button> </a>
      <a :href="'admin.php?jwt='+auth.jwt" target="_blank"> <button class="full" v-if="user.is_admin == '1'"><i class="fa fa-shield-alt"></i> Administration</button> </a>
      <h1>Benutzer</h1>
      <button class="full "><i class="fa fa-user"></i> {{user.name}}</button>
      <button @click="logout()" class="full"><i class="fa fa-sign-out-alt"></i> Ausloggen</button>
      <h1>Credits</h1>
      <div id="credits">
        <a v-for="(name,key) in 'aus.nika,recordo.mov,cyril__1,pl.hrschr,juliuseiberger,fl0rian.mov,dommezi,paulweissfilms'.split(',')" 
	   :href="'https://www.instagram.com/'+name" target="_blank" class="credit" > @{{name}}</a>
      </div>
      <div style="padding:20px 10px; color:#fff3;text-align:center">Schreibe uns an, und hilf bei der Entwicklung mit, wir freuen uns! &copy; 2020 JFC-Netzwerk. Version 1.30. 
        <br><a style="color:#fff3" href="https://ziegenhagel.com/impressum">Impressum</a>.  <a style="color:#fff3" href="https://ziegenhagel.com/datenschutz">Datenschutz</a>.
      
      </div>
    </div>
    <div v-else-if="page=='list'">
      <h1>{{category.title}}</h1>
      <p style="margin-top:-10px;color:white;margin-bottom:15px;text-align:center">Wähle eine Aufgabe und finde das Wort.</p>
      <div id="tiles">
        <a @click='show(key)' v-for="(movie,key) in movies" :key="movie.id" class=tile>
        <img v-if="!movie.caches.includes('300')" :src="'/img.php?type=m&size=300&id='+movie.id">
        <img v-else :src="'/cache/m'+movie.id+'-t1-300.jpg'">
        <div class="check" v-if="movie.solved!='0'">
          <i class="fa fa-check"></i>
        </div></a>
      </div>
    </div>
    <div v-else-if="page=='history'">
      <h1>Verlauf</h1>
        <a :key="'history'+key" v-if="movie_by_id(movie_id) != undefined"  class="category score" v-for="({movie_id},key) in history">
          <img :src="'/cache/m'+movie_id+'-t1-300.jpg'">
          <div>
            {{movie_by_id(movie_id).title}} 
            <div> {{categories.filter(cat => cat.id == movie_by_id(movie_id).category_id)[0].title}} </div>
          </div>
        </a>
      </table>
    </div>
    <div v-else-if="page=='scores'">
      <h1>Bestenlisten</h1>
        <div :class="{score:true, active:theuser.name==user.name}" :key="'scores'+key" v-for="(theuser,key) in scores">
          <div class="img">{{key+1}}</div>
          <div style="flex:1">
              <div style="margin:7px 0; font-size:1.2em"> {{theuser.name}} </div>
              <div style="display:flex;margin-bottom:7px;justify-content: left;width:100%;flex:1"><img src="/img/point.png" height="20" style="margin-right:3px"> {{theuser.points}} und {{theuser.solved}} richtig</div>
              <a :href="'https://letterboxd.com/dommezi/'+theuser.letterboxd" style="color:#fffc">        
                <div style="margin-bottom:7px" v-if="theuser.letterboxd != '' && false"><i>Klicke, um {{theuser.name}} auf Letterboxd anzuzeigen</i></div>
              </a> 

          </div>
        </div>
    </div> 
    <div v-else-if="page=='play'" id="play">
      <a class="score" v-if="is_movie_of_the_day">
          <div class="img"><i class="fa fa-certificate"></i></div>
          <div>
            <b> SERIES OF THE DAY </b>
            <div>Kennst Du diese Serie?</div>
          </div>
      </a>

      <div v-if="movies.length>0">

      <div style="position: relative;">
          <div id="imgs" :class="{one:movie.thumbnail2==''}" :key="movie.id" v-if="!movie.caches.includes('600')">
            <img :src="'/img.php?type=m&size=600&t=1&id='+movie.id" v-if="movie.thumbnail1!=''">
            <img :src="'/img.php?type=m&size=600&t=2&id='+movie.id" v-if="movie.thumbnail2!=''">
            <img :src="'/img.php?type=m&size=600&t=3&id='+movie.id" v-if="movie.thumbnail3!=''">
            <img :src="'/img.php?type=m&size=600&t=4&id='+movie.id" v-if="movie.thumbnail4!=''">
          </div>
          <div id="imgs" :class="{one:movie.thumbnail2==''}" :key="movie.id" v-else>
            <img :src="'/cache/m'+movie.id+'-t1-600.jpg'" v-if="movie.thumbnail1!=''">
            <img :src="'/cache/m'+movie.id+'-t2-600.jpg'" v-if="movie.thumbnail2!=''">
            <img :src="'/cache/m'+movie.id+'-t3-600.jpg'" v-if="movie.thumbnail3!=''">
            <img :src="'/cache/m'+movie.id+'-t4-600.jpg'" v-if="movie.thumbnail4!=''">
          </div>
          <img v-if="false && movie.lang.length == 2" @click="alert('Diese Flagge zeigt an, in welcher Sprache die Antwort ist.')" :src="'img/lang_'+movie.lang+'.png'" style="position: absolute; left: 50%; margin-left: -35px; top: 50%; height: 42px; width: 70px; border-radius:5px 5px 20px 5px;margin-top: -29px; border: 3px solid #202039;"> 
        </div>

        <div class="d-flex" style="margin-bottom:7px">
          <button @click="previous()" v-if="has_prev_movie && !is_movie_of_the_day" class="full"><i class="fa fa-caret-left"></i></button>
          <button @click="hint()" :class="{disabled:user.points<10}" class="full" v-if="status != 'correct'"><i class="fa fa-lightbulb"></i></button>
          <button @click="solve()" class="full" v-if="status != 'correct' && user.is_admin=='1'" style="background:coral"><i class="fa fa-lightbulb"></i><i class="fa fa-lightbulb"></i><i class="fa fa-lightbulb"></i></button>
          <button @click="next()" class="full" v-if="has_next_movie && !is_movie_of_the_day"><i class="fa fa-caret-right"></i></button>
        </div>
        <div v-if="status=='correct'" class="correct full">{{movie.title}}</div>
        <form @submit.prevent="check()" v-else>
          <textarea v-if="!search.visible" :placeholder="movie_title_skeleton" @keyup="autocomplete"
          :style="'background-repeat:no-repeat;background-size:40px;background-position:top 10px right 10px;background-image:url(img/lang_'+movie.lang+'.png)'"
          :class="{correct:status=='correct'}" v-model:value="solution" :key="'input'+movie.id" autoFocus="autoFocus" class="uc">
          </textarea>
        </form>

        <a v-if="status == 'correct' && movie.letterboxd != ''" target="_blank" :href="'http://letterboxd.com'+movie.letterboxd">  
          <button class="full" style="display:flex;justify-content: center;align-items: center;background:#202930">
            <img src="/img/letterboxd.jpg" style="width: 49px; height: 18px;margin-right:8px"> View on Letterboxd </button>
        </a>
        <button class="full" @click="report=!report;report_message='';" v-if="status == 'correct'"><i class="fa fa-bug"></i> Fehler melden</button>
        <a v-else-if="status == 'correct'" target="_blank" target="_blank" :href="'https://google.com/search?q='+movie.title">  
          <button class="full ">Google</button>
        </a>

        <div class="d-flex" v-if="this.user.is_admin == '1' && this.status == 'correct' && this.movie.category_id=='100'">
          <button @click="admin_restore();" class="full"><i class="fa fa-trash-restore"></i> Wiederh.</button>
          <button @click="admin_trash();" class="full danger"><i class="fa fa-trash"></i> Endg. lösch.</button>
        </div>

        <div id="letters" v-if="status != 'correct'">
          <!--<button :style="visible?'color:white':'opacity:.3;color:#fff0'" v-for="({char,visible},key) in letters" :key="key" v-if="char != ':' && char != '-' && char != ',' && char != '.' && char != ' '" @click="letter_register(char,key)">{{char}}</button>-->
          <button :style="visible?'color:white':'opacity:.3;color:#fff0'" v-for="({char,visible},key) in letter_register" :key="key" @click="if(visible)letter_register_add(key)">{{char}}</button>
          <button @click="letter_back()"><i class="fa fa-backspace"></i></button>
          <button @click="letter_clear()" v-if="false"><i class="fa fa-times"></i></button>
        </div>

      </div>
    </div>
</div>
</div>

<div style="display:none">
  <img src="/img/btn1_neu.jpg">
  <img src="/img/btn1_hover.jpg">
  <img src="/img/nav_alpha.png">
</div>

<script>
var loc = window.location.href + '';
if (loc.indexOf('http://')==0){
    window.location.href = loc.replace('http://','https://');
}
var app = new Vue({
    el: '#app',
    data: {
        search: {
          visible:false,
          query:"",
          focus:0
        },
        user: null,
        points_offset : 0,
        auth: {
          jwt: null,
          form: {
            name:"",
            pass:""
          }
        },
        alert_message:"",
        alert_callafter:()=>{},
        is_movie_of_the_day:false,
        roulette: {
          counter:0,
          visible:false,
          movies:[],
          same:false,
          explained: false
        },
        page:"categories",
        all_movies: [],
        categories: [],
        history: [],
        scores: [],
        categoryIndex: 0,
        movieIndex: 0,
        solution: "",
        solution_register: [],
        report:false,
        report_message:"",
        reported_text:"",
        status: null,
        loading: false,
        movie_title_shuffled:"",
        movie_title_skeleton:"",
        letter_register: []
    },
    computed: {
        movies: function() {
          return this.all_movies.filter(movie=>movie.category_id === this.category.id)
        },
        movie: function() { return this.movies[this.movieIndex] },
        letters: function() { 
          let all_letters =  this.movie_title_shuffled.toUpperCase()
          return all_letters.split("")
          let typed = this.solution.toUpperCase();
          let processed = "";

          let disp_letters = [];

/*
	  // disable based on solutionregister
	  let reg = this.solution_register
          for(let i=0;i<reg.length;i++) {

	    	// suche heraus, um welche stelle es geht
            let char = reg[i].char;
            let pos = reg[i].key;
		
		// nimm diese stelle zu den disp_letters auf und schalte visible als false
		console.log("füge stelle als not visible ein");
            disp_letters.push({visible:false,char})

		// bei typed rausnehmen
              //typed=typed.substr(0,pos)+typed.substr(pos+2)

          }
*/
         

	  // disable the remaining letters
          for(let i=0;i<all_letters.length;i++) {
            let visible = true
            let char = all_letters.substr(i,1)
            if(typed.includes(char)) {
              visible = false
              typed=typed.replace(char, "")
            }
            disp_letters.push({visible,char})
          }
         
          return disp_letters
         },
         user_letterboxd: function() {
            let letterboxd=prompt('Dein Letterboxd Name?');
            if(letterboxd!=null) {
              this.api({action:'user_letterboxd',letterboxd})
              .then(function () {
                this.user.letterboxd = letterboxd
                this.refresh_data()
                this.alert("Dein Letterboxd wurde verbunden.")
              }.bind(this))
            }
        },
        categories_visible: function() { return this.categories.filter(c=>this.user.is_admin == '1' || c.points < 10000) },
        movies_search_filtered: function() { 
          if(this.search.query=="") return []
          let i =  0
          return this.all_movies.filter((m)=>{
            if(i>8) return false
            if(m.title.toUpperCase().includes(this.search.query.toUpperCase())) {
              i++
              return this.user.is_admin == '1' || m.solved == '1' || m.title.toUpperCase().startsWith(this.search.query.toUpperCase())
            }
          }).sort((a,b)=>{
            return this.categories.filter(c=>c.id == a.category_id)[0].points > this.user.points ? 1 : -1
          })
        },
        has_next_movie: function() { return this.category_enabled(this.movie.category_id) && this.movies[this.movieIndex+1] != undefined },
        has_prev_movie: function() { return this.category_enabled(this.movie.category_id) && this.movies[this.movieIndex-1] != undefined },
        category: function() { return this.categories[this.categoryIndex]}
    },
    methods: {
        category_enabled: function(category_id) {
          //return category_id<5  this.category_by_id(category_id).enabled != "0"
          return this.user.is_admin == '1' || parseInt(this.category_by_id(category_id).points) <= parseInt(this.user.points)
        },
        category_enableable: function(category_id) { return parseInt(this.category_by_id(category_id).points) <= parseInt(this.user.points); },
        category_enable: function(category_id) {
          if(!this.category_enableable(category_id)) {
            this.alert("Du kannst dieses Level aktuell nicht freischalten. Spiele weiter um mehr Punkte zu erhalten!");
          } else {
            this.api({action:"category_enable",category_id}).then(d=>{
              this.refresh_data()
              this.alert(d.success ? "Gratulation!! Du hast jetzt das Level "+this.category_by_id(category_id).title+" freigeschaltet!" : "Es ist ein Fehler aufgetreten. 0x4");
            }) .catch((e)=>{
              this.alert("Es ist ein unbekannter Fehler aufgetreten. 0x5");
            })
          }
        },
        report_btn: function() {
          if(this.page=='play')
            this.report_movie()
          else
            this.create_issue()
        },
        alert:function(alert) { 
          this.nav(this.page)
          this.alert_message = alert;
        },
        nav:function(nav) { 

          // scroll to top
          window.scrollTo(0,0);

          this.page=nav
          this.report=false
          this.roulette.visible=false 
          this.search.visible=false 
        },
        dec_roulette_counter: function () {
          setTimeout(function() {
            this.roulette.counter-=1;
            if(this.roulette.counter>0)
              this.dec_roulette_counter();
            if(this.roulette.counter < 0)
              this.roulette.counter=0;
          }.bind(this),150);
        },
        set_roulette_movies: function () { 
          this.points(-20);
          this.roulette.counter=30+Math.floor(Math.random()*30);
          this.roulette.same=Math.random()>=.5;
          this.dec_roulette_counter();
          let imdb_movies = this.movies_by_category_id(1).filter(movie=>movie.thumbnail1 != "")
          imdb_movies = this.shuffle_array(imdb_movies)
          console.log("imdb_movies",imdb_movies)
          let offset = Math.floor(Math.random() * (imdb_movies.length-3));
          console.log("offset",offset)
          this.roulette.movies= imdb_movies.slice(offset, offset + 3)
        },
        movies_by_category_id: function(category_id) { return this.all_movies.filter(movie=>parseInt(movie.category_id) === category_id) },
        login: function() {
          if(this.auth.form.name.length < 3 || this.auth.form.pass.length < 3) {
            alert("Bitte mindestens 3 Zeichen eingeben!")
          } else {
            this.loading=true;
            fetch("/api.php",{
                method:"post",
                body: JSON.stringify({
                  "action":"auth",
                  name:this.auth.form.name,
                  pass:this.auth.form.pass
                })
              })
            .then(d=>d.json())
            .then(this.handle_api_response)
            .catch(e=>{
              alert("Login fehlgeschlagen")
            })
            .finally(()=>{ this.loading=false })
          }
        },
        api: function(body) {
          return fetch("/api.php", {
              method:"post",
              body: JSON.stringify({...body,jwt:this.auth.jwt})
            })
          .then(d=>d.json())
        },
        load_user: function(jwt) {
          this.auth.jwt = jwt
          this.user = JSON.parse(atob(jwt.split(".")[1]))
          //if(this.user.points < 0 )
            //this.user.points = 0
        },
        show_movie_id: function(movie_id) {
          let movie = this.movie_by_id(movie_id)
          this.categories.map((cat,key) => {
            if(cat.id == movie.category_id)
              this.categoryIndex = key
          })
          this.movies.map((mov,key) => {
            if(mov.id == movie.id)
              this.show(key)
          })
        },
        show: function(key) { this.movieIndex=key;this.page="play";this.reset()},
        play_category: function(key) { 
          this.categoryIndex=key;
          let i = 0;
          console.log(this.movies)
          while(i<10000) {
            let movie=this.movies[i]
            console.log("play_category: Movie",movie)
            if(movie == undefined)
              console.error("play_category: Movie undefined")
            if(movie.solved == "0") {
              this.show(i);
              i=9999
            }
            i++
          }
        },
        list_category: function(key) {  this.movieIndex=0;this.categoryIndex=key;this.page="list" },
        play_roulette: function() {
          if(!this.roulette.explained) {
            this.alert("Du hast gerade das Mini-Game \"Sind die Filme gleich?\" gestartet. Kurz zur Erklärung: Dir werden drei Filmstills angezeigt. Du musst so schnell Du kannst erkennen, ob alle vom gleichen Film sind. Je schneller Du bist, desto mehr kannst Du gewinnen.")
            this.alert_callafter=function() {this.play_roulette()}.bind(this)
            this.roulette.explained = true
          } else if(this.roulette.counter<=0) {
             this.set_roulette_movies();this.roulette.visible=true
            }
          },
        letter: function(char) { this.solution+=char; this.autocomplete(); },
        letter_register_add: function(key) {
          this.letter_register[key].visible=false
          this.letter(this.letter_register[key].char)
          //;this.solution_register.push({key,char})
        },
        letter_back: function() { 
          let removed_char = this.solution.substr(this.solution.length-1,1)
          this.letter_register.map(({char,visible},key) => {
            if(char == removed_char && !visible) {
              this.letter_register[key].visible = true
              removed_char = ""
            }
          })
          this.solution=this.solution.substr(0,this.solution.length-1); },
        letter_clear: function() { this.solution=""; },
        create_issue: function() {
          this.report_message="loading"
          this.api({action:"create_issue",title:this.reported_text}).then(d=>{
            this.report_message = d.success ? "Vielen Dank! Wir werden Deine Nachricht lesen." : "Es ist ein Fehler aufgetreten.";
          }) .catch((e)=>{
            this.report_message = "Es ist ein unbekannter Fehler aufgetreten.";
          })
        },report_movie: function() {
          this.report_message="loading"
          this.api({action:"report_movie_id",reported_text:this.reported_text,movie_id:this.movie.id}).then(d=>{
            this.report_message = d.success ? "Vielen Dank! Wir werden Deine Meldung prüfen." : "Es ist ein Fehler aufgetreten.";
          }) .catch((e)=>{
            this.report_message = "Es ist ein unbekannter Fehler aufgetreten.";
          })
        },
        points_offset_frame: function(timeout) { 
          setTimeout(function() {

            if(this.points_offset>0) {
              this.user.points = parseInt(this.user.points) + 1;
              this.points_offset -= 1
            } else {
              this.user.points = parseInt(this.user.points) - 1;
              this.points_offset += 1
            }

            if(this.user.points<0) {
              this.points_offset = 0
              this.user.points = 0
            } else if(this.points_offset!=0)
              this.points_offset_frame(timeout)
          }.bind(this),timeout)
        },
        admin_restore: function() { this.api({action:"restore",movie_id:this.movie.id}).then(d=>{
          this.refresh_data()
          if(d.success)this.alert("Wiederhergestellt!")
          else this.alert("Serverfehler :/")
          setTimeout(function() {this.reset()}.bind(this),500);
        })},
        admin_trash: function() { this.api({action:"trash",movie_id:this.movie.id}).then(d=>{
          this.refresh_data()
          if(d.success)this.alert("Gänzlich gelöscht!")
          else this.alert("Serverfehler :/")
          setTimeout(function() {this.reset()}.bind(this),500);
        })},
        points: function(inc_points,call_api = true) { 
          this.points_offset += inc_points
          let timeout = Math.abs(500/this.points_offset)
          console.log("imteoute",timeout)
          this.points_offset_frame(timeout)
          if(call_api)
            this.api({action:"inc_points",inc_points}) 

          if(inc_points>0) {
            confetti.start(); 
            window.setTimeout(function() {
              confetti.stop();
            },17*inc_points);
          }

        },
        solve: function () {
          this.solution = this.movie.title+""
          this.check()
        },
        hint: function () {
          this.points(-10);
          let j = 0
          console.log("Words")
          console.log(this.solution)
          console.log(this.movie.title)
          // check all letters
          for(let k=0; k<this.solution.length; k++) {
              let current_char = this.solution.substr(k,1)
              let correct_char = this.movie.title.substr(k,1)
              console.log("Checking letter "+k+" (User: "+current_char+" / Actually: "+correct_char+")")
              if(current_char.toUpperCase() != correct_char.toUpperCase()) {
                console.log("Replacing that letter")
                this.solution = this.solution.substr(0,k) + correct_char + this.solution.substr(k+1)
                j++;
              }
          }

          // fill with not added letters
          for (i = j; i < 4; i++) {
            let nextletter = this.movie.title.substr(this.solution.length, 1)
            this.letter(nextletter)
          }

          // check that all these letters are correct
          this.solution = this.movie.title.substr(0,this.solution.length)


        },
        setup_search:function() {
          this.nav(this.page);this.search.visible=!this.search.visible;this.search.query='';
          setTimeout(function () {
            this.$refs.search.focus()
            this.search.focus=Math.random()
          }.bind(this),300);
        },
        autocomplete: function(event) {
          console.log("event",event)

          this.solution = this.solution.replace(/  /gi," ")
          let nextletter = this.movie.title.substr(this.solution.length,1)

          if(event !== undefined && event.keyCode == 8) {
            console.log("l-2"+this.solution.substr(this.solution.length-2)+".")
            console.log("l-1"+this.solution.substr(this.solution.length-1)+".")
            console.log("l-0"+this.solution.substr(this.solution.length-0)+".")
          }
          else if(nextletter == "-" || nextletter == "," || nextletter == "." || nextletter == ":" || nextletter == " ")
              this.letter(nextletter)


          this.check();
        },
        category_by_id: function(id){
          return this.categories.filter(c=> c.id == id )[0]
        },
        movie_by_id: function(id, field = null){
          let movie = this.all_movies.filter(movie=> movie.id == id )[0]
          if(field==null)
            return movie
          else 
            return movie == undefined ? "" : movie[field]
        },
        title_mystify:function(title) { return title.replace(/[^- ,:\.]/g, "?") },
        setup_movie: function(){
          if(this.movie.solved != "0")
            this.status = "correct"

          let salt = this.shuffle("aaeeennnnvbiussuossnwvvuzztfffglkklppoi").substr(0,3)
          if(this.movie.title.includes("1") || this.movie.title.includes("2") || this.movie.title.includes("3")  || this.movie.title.includes("7")   || this.movie.title.includes("8") || this.movie.title.includes("0") || this.movie.title.includes("9") || this.movie.title.includes("4")  || this.movie.title.includes("5") || this.movie.title.includes("6"))
            salt+=""+Math.floor(Math.random()*10)+""+Math.floor(Math.random()*10)

          this.movie_title_shuffled=this.shuffle(this.movie.title+salt)
          this.movie_title_skeleton=this.title_mystify(this.movie.title)

          /*
          console.log("lange"+this.movie.lang)
          if(this.movie.lang.length == 2)
            this.movie_title_skeleton+=" ("+this.movie.lang+")"
            */

          this.letter_register = this.letters.filter(char => char != " " && char != "-" && char != "." && char != "-" && char != "," ).map(char => {return {char:char,visible:true}})
        },
        check: function() { this.solution.toUpperCase() === this.movie.title.toUpperCase() ? this.correct() : this.wrong(); return true },
        wrong: function() { this.status="wrong" },
        correct: function() {
          if(this.status == "correct") return; 
          this.status="correct";

          this.api({action:"correct",movie_id:this.movie.id})

          if(this.is_movie_of_the_day) {
            this.is_movie_of_the_day=false;
            this.user.last_activity=new Date().toISOString().substr(0, 10);
            this.page="categories"

            this.api({action:"movie_of_the_day",movie_id:this.movie.id})
            .then(d=>{
              this.alert("Glückwunsch! Du hast "+d.points+" extra erhalten!!")
              this.points(d.points,false)
            }) 
          }

          this.all_movies.map((movie,key)=>{
            if(movie.id == this.movie.id)
              this.all_movies[key].solved=1
          })

          this.points(20,false)
        },
        reset: function() { this.status="";this.solution="";this.setup_movie()},
        previous: function() {
          if(this.has_prev_movie) {
            this.movieIndex--;
            if(this.movie.solved != "0" && this.user.is_admin != '1')
              this.previous()
            this.reset()
          }
        },
        next: function() { 
          if(this.has_next_movie) {
            this.movieIndex++;
            if(this.movie.solved != "0" && this.user.is_admin != '1')
              this.next()
            this.reset()
          }
        },
        logout: function() { localStorage.removeItem("cache");this.auth.form={pass:"",name:""};this.page="categories";this.user=null; },
        refresh_data: function() {
          this.api({action:"data"}).then(this.handle_api_response)
        },
        shuffle: function (s) { var arr = s.split(''); arr=this.shuffle_array(arr); s = arr.join('');return s;} ,
        shuffle_array: function (arr) {  arr.sort(function() { return 0.5 - Math.random(); });return arr;} ,
        handle_api_response({history,scores,jwt,movies,categories}) {
          console.log(scores)
          if(jwt.length>0) {
            this.load_user(jwt)
            this.all_movies=movies
            this.categories=categories
            this.scores=scores
            this.history=history
          }
          localStorage.setItem('cache', JSON.stringify({history,scores,jwt:this.auth.jwt,movies:this.all_movies,categories:this.categories}));
        }
    },
    created() {
      let cache = JSON.parse(localStorage.getItem('cache'));
      if(cache == null) return
      this.handle_api_response(cache)

      // refresh data
      console.log("refreshing data")
      this.refresh_data()

      
    }
})


</script>

<style scoped>
  #imgs img { object-fit: cover; }

body {background-color:#06152e;
opacity:1;
margin:0;padding:0;
background-image:url(/img/bg.jpg);
background-size:cover;
background-position: center center;
background-attachment:fixed;
font-family:helvetica, helvetica neue;}
#app { width: 700px; margin:auto;border-radius:5px; max-width: 100%;}
#imgs:not(.one) { grid-template-columns: repeat(2, 50%); display:grid;  }
#play {margin-top:65px}
#play .score { border-radius:5px; }
.score .img {font-size:1.7em;width:50px;height:50px;background:url(img/btn2_neu.jpg);background-size:cover}

#imgs.one { display:flex;margin:auto;width:100%; margin-top:80px }
#imgs:not(.one) img.hover{ position:absolute; top:0%; cursor:pointer; left:0%; height:95%; width:100%; }

#imgs img { width:100%; border-radius:5px; height:100px; object-fit:cover; 
background:#fff1;
border:none
 }
#imgs { padding-bottom:1rem; min-height:200px}
#imgs.one img { height:300px;border-radius:5px}

@media (min-width:768px) { #imgs.one img { height:400px; }  #imgs img { height:200px; } }

.button,button,.score,.credit { min-width: 50px;height:50px;line-height:20px; padding: 10px; border: none;
 cursor:pointer; background: #555; color: #fff;border-radius: 5px; font-size: 1.3rem; 
box-shadow:3px 3px 8px  -5px #00044E;
	background-size:100% 100%;
}


#roulette .blocks {width:90%;margin:5%}
#search,#report,#alert,#roulette {position:fixed;top:0;left:0;right:0;display:flex;bottom:0;
color:white;justify-content:center;align-items:center;color:white;z-index:997;transition:.5s;
background-color:#003b;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
}

#loading {position:fixed;top:0;left:0;right:0;display:flex;bottom:0;pointer-events:none; 
color:white;justify-content:center;align-items:center;font-size:2rem;color:white;z-index:998;transition:.5s;
background-color:#0035;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
}

#actions {position:fixed;top:0;left:0;right:0;padding:.5rem;z-index:999;}
#actions > div {display:flex}
/*#info,#solution {position:fixed;bottom:0;left:0;right:0;padding:.5rem;z-index:999;padding-bottom:1.5rem}
*/
#actions,#solution {
	background-color:#fff0;
	background-image:url(/img/nav_alpha.png);
	background-size:100% 100%;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
#solution {margin-bottom:1rem;border-radius:5px;}
#solution button {background:#fff1;background:none;padding:0;box-shadow:none;margin:0;width:auto}

.flex{display:flex;justify-content:space-between;align-items:center;}
.flex * {display:block;width:auto;}
.flex img {border-radius:5px;}
a{text-decoration:none}
#info div { margin: auto; }
#info {display:none;color:#aaa;margin: 3px auto; text-align:center; border-radius: 5px; padding-bottom:1.2rem; } 

a.category,.score {color:white;padding:1px 9px;display:flex;align-items:center;}
a.category div div{opacity:.5;}
a.category div div,.score  div div{margin-top:5px}
a.category img,.score .img {
  display:block;
  background-color:#fff1;
  font-size: 2em;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
  height:70px;width:70px;object-fit:cover;margin:.5rem 0;border-radius:10px;margin-right:1rem;}
a.category .more:hover {height:70px;}
a.category.disabled {pointer-events:none;opacity:.7}
a.category,.score {
	background-color:#0A118A;
	background-image:url(/img/btn1_neu.jpg);

font-size:1.1rem;
	background-size:100% 100%;
margin-bottom:.9em;
border-radius:15px 15px 35px 15px;
box-shadow:3px 3px 8px  0px #00044E;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:not(input):not(textarea) { cursor:default }
a:hover,button:hover,button:hover *,a:hover * { cursor:pointer ; }
button,a,*:not(input):not(textarea){
  touch-action: manipulation;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
outline:none;
user-select: none; /* Standard */
}
h1 {color:#fff;margin-top:30px;text-align:center;text-transform: uppercase;}
h1:first-of-type {margin-top:75px;margin-bottom:25px;}
form h1 {margin:.4rem}
.input , form input ,form textarea{resize:none;margin-top:5px;font-size:1.2rem;background:#fff1;border:2px solid #fff3;color:white;border-radius:5px;padding:.7rem 1.3rem;width:100%;}
.full,.full button {margin-top:5px;width:100%;display:block}
button.danger { background:#a00 } 
.alert.alert-success {
padding:14px 20px;
background:#333;
color:#aaa;
border-radius:5px;
}
*:focus {outline:none}
#info_btn {display:none;margin-top:7px}
/*
.admin button { background:orange } 
*/
#tiles {text-align:center;

  display: grid;
   grid-template-columns: repeat(3, 33%);
   }
.tile .check{ 
left:0px;
top:0px;
display:flex;
align-items: center;
justify-content: center;
    line-height: 100%;
border-radius:10px 10px 30px 10px; 
    width: 100%;
    height: 100%;
font-size:3em;
position:absolute;opacity:.6;color:#eee;background:#111
}
#imgs img:first-of-type { border-radius:10px 0px 0px 0px; }
#imgs img:nth-of-type(2) { border-radius:0px 10px 0px 0px; }
#imgs img:nth-of-type(3) { border-radius:0px 0px 0px 10px; }
 .tile img { border-radius:10px 10px 30px 10px; }
#imgs img:last-of-type { border-radius:0px 0px 30px 0px; }
#imgs.one img { border-radius:10px 10px 30px 10px !important; }
.tile img{
width:100px;height:100px;
width:100%;height:100%;
position:absolute;
object-fit:cover;
left:0;
}
.tile {display:block;position:relative;
padding-bottom:100%;
margin:4px;}

button.disabled {opacity:.5}
button.disabled {color:#888}
button ,.button, .credit{
background-image:url(/img/btn1.jpg);
	background-image:url(/img/btn1_neu.jpg);
background-size:cover;
}
button:hover,button:focus,button.hover,a.category:hover { outline:none;background-image:url(/img/btn1_hover.jpg); }
button.disabled:hover,button.disabled:focus,a.category.disabled:hover {pointer-events: none; outline:none;background-image:url(/img/btn1_neu.jpg); }
.alert.alert-success {
    position: relative;
    display: block;
}
.alert.alert-success {
    background: #fff1;
    color: white;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 2px;
}
#correct{display:none}
@media(max-width:992px) {
.md{display:none}
}
#info_btn_visible {
background-image: linear-gradient(#444,#333);
}
#letters,#tiles{text-align: center}
#letters {margin-top:10px;
  flex-wrap: wrap;
  display:flex;
justify-content: center;
}
#letters button {text-transform: uppercase;font-weight:bolder;margin-bottom:4px}
#letters button {text-transform: uppercase;margin-bottom:4px}
#letters button:last-of-type   {width:100px ;background:#8f164d}
.uc {text-transform: uppercase;}
input.correct { background:none; color:white;margin-top:-30px; text-align:center; }
.correct{
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  font-size: 1.3em;
  /* letter-spacing: 0em; */
  border-radius: 5px;
  border: none;
  background: #fff1;
  padding: 0.6em;
}
button.points { display:flex;align-items:center}
#actions {
  display:flex;
  justify-content: space-between;
} .category.score:hover{
  background-image:url(/img/btn1_neu.jpg)
} .score{
  height:auto
} .score.active,.credit {
  background-image:url(/img/btn1_hover.jpg)
} 
.score > div > div {
  justify-content: left !important;
}
#credits {
  text-align:center;
}
.credit {
  margin:auto;
margin: 4px;
display: inline-block;
height: auto;
}

.blocks button {
  display:block;
  width:100%;
  margin-bottom:10px;
} #roulette_spinners {
  display:grid;
  grid-template-columns: repeat(3,33%);
  grid-column-gap:1%;
} .roulette_spinner {
  background:#0006;
  border-radius: 5px;
  width:100%;height:100px;
}
@media (min-width:992px) {
  .roulette_spinner {
    height:180px;
  }
}

.roulette_spinner div {
  border-radius: 5px;
  display:block;
  width:100%;
  height:100%;
  background-image:url(https://cdn.moviestillsdb.com/i/160x/m1xjmi9q/interstellar-sm.jpg);
  background-size:cover;
} .roulette_spinner1 div {
  animation:3s ease-out roulette_spinner;
} .roulette_spinner2 div {
  animation:4s ease-out roulette_spinner;
} .roulette_spinner3 div {
  animation:5s ease-out roulette_spinner;
}
@keyframes roulette_spinner {
  0% {background-position: 0 3000px;opacity: 0;}
  80% {background-position: 0 -20px;opacity: 1;}
  100% {background-position: 0 0px;}
}
.btns { display:flex }
.btns > button, .btns > .button {margin-left:5px;}
.btns > button:first-of-type, .btns > .button:first-of-type {margin-left:0px;}
#point_icon { margin:4px 0;margin-right:5px;width:26px;height:30px;
border-radius:50%;
background-image:url(/img/point.png);background-size:contain ; }

@keyframes point_icon_up { 0% {background-position: 0 30px;} 100% {background-position: 0 0px;} }
@keyframes point_icon_down { 0% {background-position: 0 0px;} 100% {background-position: 0 30px;} }

#logo {
  height:100px;
  width: 100px;
  margin:5px auto;
  margin-top:0px;
  margin-bottom:-45px;
  background-image:url("apple-icon.png");

  background-size:cover;
  display:block;
  border-radius:50%;
  animation:1s rotate linear;
} #login h1 {
  margin-bottom:15px
} #login {
  overflow:hidden
} #login form {
  max-width:300px;
  margin:0 auto;
}

.game,#game {
  padding:1.1em 1em;
}
#search > div  {
  height: 100vh;
  overflow-y: auto;
}
#login-bg,#login {
  position:fixed;
  z-index:-11;
  background-image:radial-gradient(#01276a,#061226);
  background-size:cover;
  width:100vw;
  top:0;left:0;right:0;bottom:0;
  height:100vh;
}#login {
  position:absolute;
  animation: .8s loginbg ease-out;
}#login-bg {
  animation: 2s loginbg ease-out;
}
div.d-flex { display:flex }
div.d-flex button {margin-left:5px;}
div.d-flex button:first-of-type {margin-left:0px;}
@keyframes loginbg { 0% {opacity:0;transform:scale(1)} 100% {opacity:1;transform:rotate(0deg) scale(1)} }
@keyframes loginbg2 { 0% {opacity:0;transform:scale(2)} 100% {opacity:1;transform:rotate(0deg) scale(1)} }
@keyframes rotate { 0% {transform:scale(.8)} 100% {transform:scale(1)} }

#actions button { margin-left:5px; }
#actions button:first-of-type  { margin-left:0px; }
#actions input.input.report-input {
  background-image:radial-gradient(#2d57a0,#305595);
  background-size:cover;
  background:#fff2;
  border:none;
} #letters {
  align-items: left;
  text-align: left;
} #letters button {
  width:51px;
  margin:3px;
} .score:first-of-type .img{
  background-image:url(/img/btn3_neu.jpg)
}
#actions button, #credits a.credit,.credit { border-radius:25px }
#play .d-flex button{ border-radius:4px; }
#play .d-flex button:last-of-type{ border-radius:4px 15px 15px 4px; }
#play .d-flex button:first-of-type{ border-radius:15px 4px 4px 15px; }
</style>


<script src="confetti.min.js"></script>

<script></script>
</body>
</html>
